
body {
    background: black; 
    color: lightgray; 
}

.topic {
    margin: 10px; 
    
}

.buttons-view {
    border-radius: 20px;     
    padding: 10px;     
}

h1 {
    text-align: center; 
    color: goldenrod
}

.giphyImages {
    float: right;
}